$yellow: #fff000;
$rojo: #f2140c;
$verde: #1a9609;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin colores ($color){
	color: $color;
}

@mixin padding ($top, $right){
	padding-top: $top;
	padding-right: $right;
}

.jumbotron {
	background-color:$verde;
	@include margenes(50px, 0px);
	@include colores (#f5f2f2);
}
 footer {
	padding:10px 10px 8 10px;
	background-color:$verde;
	@include margenes(10px, 0px);
}
.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	@include padding(0px, 10px);
}

.tab-content {
	@include padding(10px, 0px);
}