.jumbotron {
  background-color: #1a9609;
  margin-top: 50px;
  margin-bottom: 0px;
  color: #f5f2f2; }

footer {
  padding: 10px 10px 8 10px;
  background-color: #1a9609;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px; }
