@yellow: #ffeb0a;
@rojo: #f2140c;
@verde:#1a9609;
@blanco: #f5f2f2;

.margenes(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}

.colores (@blanco){
	color: @blanco;
}

.padding (@top, @right){
	padding-top: @top;
	padding-right: @right;
	
	}
.jumbotron {
	background-color:@verde;
  .colores (@blanco);
  .margenes (50px, 0px);
}
 footer {
	padding:10px 10px 8 10px;
	background-color:@rojo;
   .margenes (10px, 0px);
}
.card-hotel{
	flex: 1 200px;
  .margenes (10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	.padding (0px, 10px);
}

.tab-content {
	.padding (10px, 0px);
}